<!DOCTYPE html>
<html>
<head>
	<title>Puppy Details</title>
</head>
<body>
<h1>Puppy Details</h1>

<li>Puppy Name: <%= @puppy.name %></li>
<li>Puppy Breed: <%= @puppy.breed %></li>
<li>Puppy Age: <%= @puppy.age %></li>

</body>
</html>